.message {
    font-weight: 600;
    color: blue;
}

.navbar {
    font-size: 1em;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    margin-left: 30px;
}

.body-content {
    padding: 5px;
}

body{
    width: available;
    height: available;
}

.container{
    width: available;
    height: available;
}

.leftpane{
    width: 25%;
    min-width: 350px;
    min-height: 600px;
    float: left;
    padding: 3px;
    margin: 3px;
    border: 3px solid black;
}    

.rightpane{
   width: 65%;
   min-width: 800px;
   min-height: 600px;
   float: left;
   padding: 3px;
   margin: 3px;
   border: 3px solid black;
}
.header, .footer {
    padding: 15px;
    width: 85%;
    height: 5% 
  }
  
